

<%- include('partials/header') %>

    <main class="container">
        <h1>
            <%= title %>
        </h1>

        <ul class="grid-list">
            <% projects.forEach(project=> { %>
                <li>
                    <strong>
                        <%= project.title %>
                    </strong>
                    <p><strong>Location:</strong>
                        <%= project.location %>
                    </p>
                    <p><strong>Date:</strong>
                        <%= project.project_date %>
                    </p>
                    <p class="category-desc">
                        <%= project.description %>
                    </p>

                    <a href="#" class="btn-small">Sign Up to Help</a>
                </li>
                <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>

